.categorias{
    background-color: red;
    
    padding: 50px 200px 50px 200px;
}

.categorias__element{
    border: 1px solid;
 background-color: #fff;
 width: 12em;
 padding: 10px;
 
}

.categorias__element--img{
    border: 2px solid;
    width: 12em;
}
.categorias__element--p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid;
    padding: 0;
}