
.contacto__element{   
    width: 100%;  
}
.contacto_elemento--maps{
    width: 100%;
    
}
.contacto__element-p{
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}